{% extends 'base.html' %}
{% load static %}
{% block main_content %}
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url({% static 'images/banner.jpg' %});"
         alt="Rent Offers Banner Image">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Rent Offers</h1>
            </div>
        </div>
    </div>

   <div class="container-xxl py-5" style="background-color: #f8f9fa;">
    <div class="container">
        <div class="row g-4">
            <!-- Card for Cars -->
            <div class="col-md wow fadeInUp" data-wow-delay="0.1s">
                <div class="card p-3">
                    <div class="d-flex flex-column align-items-center">
                        <img src="{% static 'images/car1.png' %}" alt="Your Image" class="img-fluid" style="width: 200px;">
                        <div class="card-body text-center">
                            <h3 class="mb-3">Cars</h3>
                            <h4>Find your car!</h4>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'cars list' %}" class="sign_btn">See All Cars</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card for Vans -->
            <div class="col-md wow fadeInUp" data-wow-delay="0.2s">
                <div class="card p-3">
                    <div class="d-flex flex-column align-items-center">
                        <img src="{% static 'images/van.png' %}" alt="Your Image" class="img-fluid" style="width: 200px;">
                        <div class="card-body text-center">
                            <h3 class="mb-3">Vans</h3>
                            <h4>Find your van!</h4>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'vans list' %}" class="sign_btn">See All Vans</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card for Campers and Caravans -->
            <div class="col-md wow fadeInUp" data-wow-delay="0.3s">
                <div class="card p-3">
                    <div class="d-flex flex-column align-items-center">
                        <img src="{% static 'images/camper.jpg' %}" alt="Your Image" class="img-fluid" style="width: 200px;">
                        <div class="card-body text-center">
                            <h3 class="mb-3">Campers and Caravans</h3>
                            <h4>Find your camper or caravan!</h4>
                        </div>
                        <div class="card-header">
                            <a href="{% url 'campers and caravans list' %}" class="sign_btn ">See All Campers and Caravans</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
