{% extends 'base.html' %}
{% load static %}
{% block main_content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Delete Profile</title>
        <style>
            body {
                background-color: #f2f2f2;
            }

            .profile-details {
                margin-top: 50px;
            }

            .profile-picture {
                float: right;
                width: 300px;
                height: auto;
                margin-left: 20px;
            }
        </style>
    </head>
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url({% static 'images/banner.jpg' %});">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Delete Profile</h1>
            </div>
        </div>
    </div>
    <body>
    <div class="container">
        <div class="card profile-details">
            <div class="card-header">
                <h2>Delete Profile</h2>
            </div>
            <div class="card-body">
                <p>Are you sure you want to delete your profile?</p>
            </div>
            <div class="card-footer">
                <form method="post" action="{% url 'delete profile' pk=object.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete Profile</button>
                    <a href="{% url 'detail profile' pk=object.pk %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endblock %}
