{% extends 'base.html' %}
{% load static %}
{% block main_content %}

    <div class="container-fluid page-header mb-5 p-0" style="background-image: url({% static 'images/banner.jpg' %});">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                {% if profile.last_name %}
                    <h1 class="display-3 text-white mb-3 animated slideInDown">{{ profile.first_name }}'s Profile</h1>
                {% else %}
                    <h1 class="display-3 text-white mb-3 animated slideInDown">{{ profile.user.email }}'s Profile</h1>
                {% endif %}
            </div>
        </div>
    </div>

    <body>
    <div class="container">
        <div class="card profile-details">
            <div class="card-header">
                <h2>User Profile Details</h2>
            </div>
            <div class="card-body">
                <div class="profile-picture">
                    {% if profile.profile_picture %}
                        <img src="{{ profile.profile_picture.url }}" alt="Profile Picture"/>
                    {% else %}
                        <img src="{% static 'images/user.jpg' %}" alt="Default Profile Picture"/>
                    {% endif %}
                </div>
                <p><strong>First Name:</strong> {{ profile.first_name }}</p>
                <p><strong>Last Name:</strong> {{ profile.last_name }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Phone Number:</strong> {{ profile.phone_number }}</p>
                <p><strong>Date of Birth:</strong> {{ profile.date_of_birth }}</p>
            </div>
            <div class="card-footer">
                {% if user == profile.user or request.user.is_superuser %}
                    <a href="{% url 'edit profile' pk=profile.user.pk %}" class="btn btn-primary">Edit Profile</a>
                    <a href="{% url 'delete profile' pk=profile.user.pk %}" class="btn btn-danger">Delete Profile</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card-footer">
            <h3>User's Offers</h3>

            <div class="card-deck">
                {% for car in profile.user.car_owner.all %}
                    <div class="card">
                        <img src="{{ car.vehicle_image.url }}" class="card-img-top small-image" alt="{{ car.brand }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ car.brand }} - {{ car.model }}</h5>
                             <a href="{% url 'car detail' pk=car.pk %}" class="btn btn-primary">Offer
                                    Details</a>
                        </div>
                    </div>
                {% endfor %}

                {% for van in profile.user.van_owner.all %}
                    <div class="card">
                        <img src="{{ van.vehicle_image.url }}" class="card-img-top small-image" alt="{{ van.brand }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ van.brand }} - {{ van.model }}</h5>
                                <a href="{% url 'van detail' pk=van.pk %}" class="btn btn-primary">Offer
                                    Details</a>
                        </div>
                    </div>

                {% endfor %}

                {% for campers_caravans in profile.user.campers_caravans_owner.all %}
                    <div class="card">
                        <img src="{{ campers_caravans.vehicle_image.url }}" class="card-img-top small-image"
                             alt="{{ campers_caravans.brand }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ campers_caravans.brand }} - {{ campers_caravans.model }}</h5>
                             <a href="{% url 'cam_car detail' pk=campers_caravans.pk %}" class="btn btn-primary">Offer
                                    Details</a>
                        </div>
                    </div>
                {% endfor %}
            </div>


            {% if not profile.user.car_owner.exists and not profile.user.van_owner.exists and not profile.user.campers_caravans_owner.exists %}
                <p>This user does not have any offers yet.</p>
            {% endif %}
        </div>
    </div>
    </body>

{% endblock %}
