{% extends 'base.html' %}
{% load static %}
{% block main_content %}
    <style>
        body {
            background-color: #f2f2f2;
        }

        .car-details {
            margin-top: 50px;
        }
    </style>

    <body>
    <div class="container">
        <div class="card car-details">
            <div class="card-header">
                <h2>{{ campers_caravans.brand }} {{ campers_caravans.model }}</h2>
            </div>
            <div class="card-body">
                {% if object.vehicle_image %}
                    <img src="{{ object.vehicle_image.url }}"/>
                {% else %}
                    <img src="{% static 'images/camper.jpg' %}"/>
                {% endif %}
                <p><strong>Type of Engine:</strong> {{ campers_caravans.get_type_of_engine_display }}</p>
                <p><strong>Type of Gear:</strong> {{ campers_caravans.get_type_of_gear_display }}</p>
                <p><strong>Year:</strong> {{ campers_caravans.first_registration }}</p>
                <p><strong>Type:</strong> {{ campers_caravans.type }}</p>
                <p><strong>Seats:</strong> {{ campers_caravans.seats }}</p>
                <p><strong>Price Per Day:</strong> {{ campers_caravans.price }}</p>
                <p><strong>City:</strong> {{ campers_caravans.city }}</p>
                <p><strong>Published:</strong> {{ campers_caravans.published }}</p>
                <p><strong>Owner:</strong> {{ campers_caravans.owner }}</p>
                <p><strong>Phone number:</strong> {{ campers_caravans.owner.profile.phone_number }}</p>
                <a href="{% url 'detail profile' pk=campers_caravans.owner.pk %}" class="btn btn-primary owner-profile-button">See Profile</a>
                {% if user == campers_caravans.owner or request.user.is_superuser %}
                    <a href="{% url 'edit cam_car' pk=campers_caravans.pk %}" class="btn btn-warning edit-button">Edit Offer</a>
                {% endif %}
            </div>
            <div class="card-footer">
                <a href="{% url 'common offers view' %}" class="btn btn-secondary">Back to Offers</a>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endblock %}
