{% extends 'base.html' %}
{% load static %}
{% block main_content %}
      <div class="container-fluid page-header mb-5 p-0" style="background-image: url({% static 'images/banner.jpg' %});">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Our Vans For Rent</h1>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'create van' %}" class="btn btn-success">Create Offer</a>
                {% else %}
                    <a href="{% url 'signin user' %}" class="btn btn-success">Create Offer</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for van in object_list %}
                <div class="col">
                    <div class="card">
                        {% if van.vehicle_image %}
                            <img src="{{ van.vehicle_image.url }}" style="width: 200px; height: 150px;" alt="Van Image">
                        {% else %}
                            <img src="{% static 'images/van.png' %}" style="width: 200px; height: 150px;" alt="Van Image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ van.brand }} {{ van.model }}</h5>
                            <p class="card-text">Year: {{ van.first_registration }}</p>
                            <p class="card-text">Price Per Day: {{ van.price }} lv.</p>
                            <p class="card-text">City: {{ van.city }}</p>
                            <!-- Add more details as needed -->
                            <a href="{% url 'van detail' pk=van.pk %}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if is_paginated %}
            <div class="row justify-content-center mt-4">
                <div class="col-auto">
                    {% if page_obj.has_previous %}
                        <a href="?page=1" class="btn btn-outline-primary">First</a>
                        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">Previous</a>
                    {% endif %}
                    <span class="mx-2">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">Last</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
