{% extends 'base.html' %}

{% load static %}

{% block main_content %}
    <body class="main-layout">
    <section class="banner_main">
        <div class="container">
            <div class="row d_flex">
                <div class="col-md-12">
                    <div class="text-bg">
                        <h1>Find Your Ideal Rental Vehicle Here</h1>
                        <strong>Versatile and Responsive</strong>
                        <span>RentAll: Your Rental Vehicle Hub</span>
                        <p>
                            RentAll is a website for private listings where individuals post advertisements for their
                            vehicles for rent.
                            Whether you're looking for a car, van, or camper, RentAll offers a wide selection of rental
                            vehicles to suit
                            your needs.

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
    <!-- end banner -->
    <!-- car -->
    <div class="car">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>VARIETY OF VEHICLES</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="card border-0">
                        <img src="{% static 'images/car1.png' %}" alt="#" class="card-img-top">
                        <div class="card-body">
                            <a href="{% url 'cars list' %}" class="btn btn-primary btn-block btn-lg mt-3">Cars</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card border-0">
                        <img src="{% static 'images/van.png' %}" alt="#" class="card-img-top">
                        <div class="card-body">
                            <a href="{% url 'vans list' %}" class="btn btn-primary btn-block btn-lg mt-3">Vans</a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card border-0">
                        <img src="{% static 'images/camper.jpg' %}" alt="#" class="card-img-top">
                        <div class="card-body">
                            <a href="{% url 'campers and caravans list' %}"
                               class="btn btn-primary btn-block btn-lg mt-3">Campers And Caravans</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}